*{
    margin: 0;
    font-family: 'Raleway', sans-serif;
}

:root{
    --beige: #F8EAE1;
    --green: #94B43B;
    --gray: #BBBBBB;
    --dark-gray: #858585;
}

html{
    background-color: var(--beige);
    overflow-x: hidden;
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 10px;
    background-color: transparent;
  }
  ::-webkit-scrollbar-thumb {
    background-color: var(--green);
    border-radius: 20px;
  }

.green{
    color: var(--green) !important;
}

/*Main*/

main{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1{
    color: var(--green);
    font-size: 7.5rem;
}

main h2{
    width: 70vw;
    font-size: 2.8rem;
    font-weight: 500;
    text-align: center;
    margin-top: 3.5rem;
}

main img{
    width: 5rem;
    margin-top: 5rem;
}

/*Nav*/

nav{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.nav-text{
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-text p{
    width: 40vw;
    font-size: 3rem;
    font-weight: 500;
}

b{
    color: var(--green);
}

.nav-bar{
    height: 50vh;
    width: .5rem;
    background-color: var(--gray);
    border-radius: 1rem;
}

.nav-bar-selected{
    width: 100%;
    height: 25%;
    background-color: var(--green);
    border-radius: 1rem;
    transition: .5s;
}

.options{
    width: 35vw;
    height: 50vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.options a{
    text-decoration: none;
    font-size: 2rem;
    font-weight: 500;
    color: var(--dark-gray);
    transition: .5s;
    cursor: pointer;
}

.options a:hover{
    color: var(--green);
}

/*Tool*/

.title-section{
    height: 20vh;
}

#tool{
    width: 100vw;
}

#tool h2{
    text-align: center;
    color: var(--green);
    font-size: 3.5rem;
    font-weight: 500;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.line{
    width: 100vw;
    height: .2rem;
    background-color: var(--green);
}

/*Footer*/

footer{
    width: 100vw;
    height: 30vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

footer p{
    text-align: center;
    color: var(--dark-gray);
    font-size: 2rem;
    padding-top: 5vh;
    padding-bottom: 5vh;
}

footer a{
    text-decoration: none;
    color: var(--green);
    font-size: 2rem;
    text-align: center;
    font-weight: 500;
    transition: .5s;
}

footer a:hover{
    color: black;
}

/*Tools*/

.toolSec{
    height: 80vh;
}

/*Encuesta*/

.encuesta{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.encuesta form{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    height: 60vh;
}

.encuesta p{
    font-size: 2rem;
}

.multiple-choice label, .range-input label{
    font-size: 1.5rem;
    margin-right: 4rem;
}

.multiple-choice select{
    padding: .5rem 2rem;
    text-align: center;
    border: none;
    border-radius: 2rem;
    font-size: 1.5rem;
    font-weight: 500;
    outline: none;
    background-color: var(--green);
    color: var(--beige);
}

.inputs{
    display: flex;
    justify-content: space-around;
    width: 80vw;
}

.inputs input{
    padding: .5rem 2rem;
    border: none;
    border-radius: 3rem;
    outline: none;
    text-align: center;
    font-size: 1.3rem;
}

.encuesta button{
    padding: .5rem 2rem;
    border-radius: 3rem;
    font-size: 1.8rem;
    border: none;
    background-color: var(--green);
    color: var(--beige);
}